extends layout

block content
  main
    - var isMember = user && user.isMember
    if isMember
      div
        h1 Create new message
        form(method='POST' action='/sendtext')
          label(for='message') Message:
          textarea(name='content' id='message' minlength='1' maxlength='50' required)
          button(type='submit') Send 
        form(method='POST' action='/sendimage' enctype='multipart/form-data')
          input(type='file' name='content' required accept='.png,.jpg,.jpeg,.web')
          button(type='submit') Send image
    else
      p Only logged-in members can create messages and see the creator and date of previous messages. 
    if messages
      ul
        each message in messages
          li
            div
              img(src=message.user.profilePicture)
              p #{isMember? message.user.username : message.user.fakeUsername}
              p #{isMember? message.dateFormatted : 'hidden date'}
              if message.type === 'text'
                p #{message.content}
              else
                img(src=message.content)
    
