extends layout

block content
    div(class='flex flex-col gap-5')
      if alert
        p(class='font-bold p-3 w-full text-lg bg-[#DDBCC3]') #{alert}
      - var isMember = user && user.isMember
      if isMember
        div(class='flex flex-col gap-5 bg-[#6D4266] text-[#F7F6F5] relative rounded-3xl p-7 pb-16 sm:p-7')
          h2(class='text-center text-xl font-bold') New message
          form(method='POST' action='/sendtext' class='flex flex-col gap-4')
            textarea(name='content' id='message' minlength='1' maxlength='50' class=' border-[#D3C7B8] border rounded p-3 bg-[#6D4266]' placeholder="What's happening?" required)
            button(type='submit' class='self-end p-4 pt-2 pb-2 bg-[#F7F6F5] text-[#6D4266] rounded-xl font-bold') Send text
          form(method='POST' action='/sendimage' class='flex flex-col gap-2 bottom-4 absolute sm:flex-row sm:bottom-7' enctype='multipart/form-data')
            label(for='image' class=' p-4 pt-2 pb-2 cursor-pointer rounded bg-[#6D4266] text-[#F7F6F5] text-center font-bold border-[#F7F6F5] border') Upload 
            input(type='file' id='image' name='content' required accept='.png,.jpg,.jpeg,.web' class='hidden')
            button(type='submit ' class='p-4 pt-2 pb-2 bg-[#F7F6F5] text-[#6D4266] rounded-xl font-bold') Send image
      else
        p(class='text-center mb-2 font-bold') Only logged-in members can create messages and see the creator and date of previous messages. 
      if messages
        ul(class='flex flex-col gap-4')
          each message in messages
            li
              div(class='flex flex-col bg-[#6D4266] text-[#D3C7B8] max-w-full p-3 rounded-3xl gap-4 sm:p-5 items-center')
                div(class='flex items-center w-full')
                  img(src=message.user.profilePicture class='w-16 h-16 rounded-xl mr-3')
                  div(class='flex flex-col font-bold')
                    p(class='text-[#F7F6F5] text-xl') #{isMember? message.user.username : message.user.fakeUsername}
                    p #{isMember? message.dateFormatted : 'hidden date'}
                if message.type === 'text'
                  p(class='text-[#F7F6F5] sm:text-lg self-start') #{message.content}
                else
                  img(src=message.content class='max-w-full max-h-[40vh] rounded-lg ')
    
